/* login css */
body{
  background: url('./components/hubspott.jpg' );
  background-repeat: no-repeat;
  background-size: 1100px  350px;
  background-position: bottom;
  height: 800px;
  }
.general{
  display: flex;
  justify-content: space-between;
  margin-top: 10px ;
  margin-bottom: 15px;
}
.bgc{
  background-color: #edf6f9;
}
.btn{
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  color: white;
  font-size: 16px;
  background-color: #ff7a59;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login{
  margin-right: 200px;
  display: flex;
}
.inpt{
border:2px solid #ff7a59;
color: #ff7a59;
font-size: 16px ;
margin-right: 10px;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
border-radius: 5px;
background-color: #fff;
}
.srch{
  margin-right: 10px;
  color: #028da2;
  align-self: center;

}
.language{
  margin-left: 200px;
  display: flex;
}
.globe{
  margin-top: 5px;
  margin-right: 10px;
  align-self: center;
  fill: rgb(103, 99, 99);
}
.english{
  border: none;
  color: rgb(103, 99, 99);
  margin-right: 20px;
  background-color: #edf6f9;
  font-size: 17px;
}
.span{
  margin-top: 15px;
  color: rgb(103, 99, 99);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
hr{
  opacity: 0,1;
}

/* navbar css */
.nav{
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px ; */
  /* margin-bottom: 15px; */
}
.logo{
  margin-left: 182px;
  margin-bottom: 20px;
  align-self: center;
  height: 40px;
  /* background-color: yellow; */
}
.sections{
  display: flex;
  margin-right: 200px;
  gap: 20px;
  /* background-color: green; */
}
.border{
  border: none;
  font-size: 17px;
  color: black;
}
.pricing{
  margin-top: 15px;
  font-size: 18px;
  color: black;
}
/* home css */
.home{
  width: 450px;
  margin-left: 200px;
  margin-top: 90px;
}
.basliq{
  font-size: 45px;
}
.desc{
  font-size: 18px;
}
.home-btn{
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
/* .chat{
  position: fixed;
} */
/* form css */
.form{
  margin-top: 101px;
  background-color: #ff7a59 ;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.label{
  font-size: 20px;
  font-family: Georgia, serif;  
}
input{
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
}
.err{
  color: rgb(128, 25, 25);
}
.surname{
  margin-top: 15px;
}
.email{
  margin-top: 15px;
}
.again-password{
  margin-top: 15px;
}
.submit{
  margin-top: 15px;
  width: 130px;
  height: 40px;
}